<% include partials/header.ejs %>
<div class = "container">
    <div class = "row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
            <h1>Welcome to YelpCamp!</h1>
        </div>
    </div>    
</div>

    <a href="/campgrounds"> Campgrounds List</a>
    <% include partials/footer.ejs %>