<% include partials/header.ejs %>
<div class = "container"
    <div class = "starter-template">
        <h1>Welcome to YelpCamp!</h1>
        <p>Login / Signup here</p>
        <a href="/campgrounds"> Campgrounds List</a>
    </div>    
</div>

    
    <% include partials/footer.ejs %>