<% include partials/header.ejs %>

<h1> <%= campground.name %></h1>


<div>
<img src="/<%= campground.image%>" >

<!--<img src="/images/img_02.jpg" alt=""> -->
</div>

<p> <%= campground.description %></p>


<<a href="/campgrounds"> Return back to campgrounds </a>

<% include partials/footer.ejs %>